<div class="container border mb-3">
  <h2 class="mt-3">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field form-group mt-3">
      <%= f.label :email , style: "display: block", class:"form-label " %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control "%>
    </div>

    <div class="field form-group mt-3">
      <%= f.label :password, style: "display: block", class:"form-label " %>
      <%= f.password_field :password, autocomplete: "current-password", class:"form-control " %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field form-group mt-3 form-check">
        <%= f.check_box :remember_me, class: "form-check-input" %>
        <%= f.label :remember_me , class: "form-check-label"%>
      </div>
    <% end %>

    <div class="actions form-group mt-3">
      <%= f.submit "Log in" , class: "btn btn-primary" %>
    </div>
  <% end %>
  </br>
  <div class=" d-flex gap-3 mb-3">
    <%= render "devise/shared/links" %>
  </div>
</div>
